soc.md
verilog.md
read.py
readcbor.py
*.cbor
trace_readable.json
.agents/
.vivado_check/
.Xil/
*.tcl
*.log
*.jou
prompt.md
prompt2.md
/tb/
*.pb
*.rpt
xsim.dir/
obj_dir/
*.wdb
xilinx_ip/*
!*.xci
l2cache/
